/* Design */

 .container
{
 background: url(https://d3awvtnmmsvyot.cloudfront.net/api/file/9Ky6TIRSrWCLHlAjOQaA);
 font-family: 'IM Fell Great Primer SC', serif;
 background-repeat: no-repeat;
 background-position: center;
}

header
{
    width: 100%;
    height: 100px;
    margin: auto;
    background-color: rgb(175,162,184);
    font-size: xx-large;
    opacity: 0.8;
    text-align: center;
}
.description {
    width: 500px;
    font-weight: bolder;
    font-size: larger;
    background-color: whitesmoke;
}

section
{
    grid-template-columns: 30% 70%;
    background-color: rgb(175,162,184);
    opacity: 0.8;
}

.left 
{
    float: left;
    width: 500px;

}

.right
{
    padding-left: 550px;
    padding-top: 10px;
    float: right;
}

a{
    text-decoration: none;
    color: black;
}